.navbar{
    background-color: #A7727D;
    width: 100vw;
    height: 10vh;
    margin-top:10px;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navbar h2{
    color: aliceblue;
display: flex;
float: right;
margin-right: 60px;
margin-top: 20px;
justify-content: center;

}

.n2 {
    
    width: 98vw;
    height: 10vh;
    margin-top: 0px;
    display: flex;
    margin-left: 15px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;


}